.feature {
    @include section;

    padding-bottom: 0;
}
.feature__container {
    @include container;

@media screen and (min-width:768px) {
    display: flex;
}
}   
.feature__list{
    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
}
.feature__item{
    width: 450px;
    @media screen and (min-width:768px) {
        width: 354px;  
    }
    @media screen and (min-width:1200px) {
        width: 270px;
    }
   
}
    
.feauture__icon{
    display: flex;
    width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    @media screen and (min-width:768px) {
        width: 354px;      
    }
    @media screen and (min-width:1200px) {
        width: 270px;
    }
}

.feature__undertitle {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        text-align: center;      
    }
}
.feature__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-paragraf);
}
    