.footer{
    background: var(--frame-color);
    padding-top: 60px;
    padding-bottom: 60px;
    }
.footer__container{
    @include container;
    @media screen and (max-width:1199px) {
        text-align: center;
    }
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;   
    }

    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline; 
    }
       
       
}
   
    .footer__logo {
    display: inline-block;
    margin-bottom: 28px;
    
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.03em;
    color: var(--text-color-light);
    
    &-part {
        color: var(--accent-color);
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 20px;  
        font-size: 26px;
        line-height: 1.19;
    }
   
    }
.footer__list{
    @media screen and (max-width:1199px) {
        margin-bottom: 60px;  
    } 
   

}

.footer__item:not(:last-child){
    @media screen and (min-width:1200px) {
        margin-bottom: 9px;
    }
    
}
.footer__link-nav {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--text-color-light);
}
    
.footer__link-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}