.header {
    border-bottom: 1px solid #ECECEC;
}
.header__container{
    @include container;

    display: flex;
}
.header__list{
    display:flex;
    margin-left: auto;
    align-items: center;
    flex-wrap: wrap;
// margin-left: 90px;

    @media screen and (max-width:767px) {
        display: none;
       
    }
   
}
    
.header__item{
    display: flex; 
    align-items: center; 
@media screen and (min-width:768px) {
//    margin-left: 90px;

}
@media screen and (min-width:1200px) {
    &:not(:first-child){
        margin-left: 50px;  
    }
}
}
    
.header__link {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 8px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.02em;
    color: var(--text-color-paragraf);
    @media screen and (min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 10px;

    font-size: 14px;
    line-height: 1.14px;
    }
   

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}
    
.header__icon{
    fill:currentColor;
}