.header {
    border-bottom: 1px solid #ECECEC;
}
.header__container{
    @include container;

    display: flex;
}
.header__list{
    display: flex;
    margin-left: auto;
    align-items: center;
}
    
.header__item{
    display: block; 
    align-items: center; 

    &:not(:first-child){
        margin-left: 50px;  
    }
}
    
.header__link {
    display: flex;   
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    gap: 10px; 

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--text-color-paragraf);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}
    
.header__icon{
    fill:currentColor;
}