.hero{
    height: 400px;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--frame-color); 

//    mobile screen
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url('../image/background/imgsm@1x.png');
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url('../image/background/imgsm@2x.png');
    }
    
// tablet screen
    @media screen and (min-width:481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../image/background/imgmd@1x.png');
    
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../image/background/imgmd@2x.png');
        }
    }
// desctop screen
    @media screen and (min-width:769px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url('../image/background/imglg@1x.png');
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../image/background/imglg@2x.png');
        }
    }
    }
.hero__side {
    @include container;

    text-align: center;
}
.hero__title {
    margin-bottom: 30px;
    width: 360px;
    margin-right: auto;
    margin-left: auto;
    
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-light); 

    @media screen and (min-width:1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    }
}
.hero__button {
    border-radius: 4px;
    padding: 10px 24px;
    min-width: 140px;
    
    font-weight: 700;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color:var(--text-color-light);
    background:var(--accent-color);

    transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1);

    @media screen and (min-width:1200px) {
        min-width: 216px;
        padding: 10px 32px;
        
    }

    &:hover,
    &:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
    